p,h1,h2,h3,h4,h5,h6,span,strong {
  font-family: 'Avenir Next'!important;
}
.container {
  width: 80%;
  margin: 0 auto;
}
md-icon {
  vertical-align: middle;
}
.add-course{
  float: right;
  margin-top: -20px;
}
